.App {
  background-color: var(--td-blue-dark);
	display: flex;
	flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
	font-weight: 100;
}

.occupation {
	font-weight: 100;
	margin: 0;
	padding: 0 0 3rem;
}

.App-header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  padding-top: 1rem;
}

.App-footer {
	height: .5rem;
	margin-top: auto;
	object-fit: cover;
	padding-top: .5rem;
	width: 100%;
}